body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  background-color: rgb(42, 81, 14);
}

#workspace {
  border: 5px solid black;
  width: 80vw;
  min-height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  background-color: rgb(186, 235, 151);
}

h1 {
    text-align: center;
  color: red;
  display: flex;
  gap: 25px;
}

.budgetbutton {
  background-color: rgb(243, 86, 86);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

#dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

input {
  margin: 5px 0;
  padding: 5px;
  font-size: 1em;
  width: 300px;
}

label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

#dialog div {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  gap: 10px;
  position: relative;
}

#buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
#buttons button {
  margin: 5px 0;
  padding: 10px;
  flex-grow: 1;
  font-size: 1em;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

#incomeBtn {
  background-color: green;
}

#expenseBtn {
  background-color: red;
}

#close {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 6px;
  text-align: center;
}
th {
  background-color: aliceblue;
}
tfoot td {
  text-align: right;
}
tbody td:nth-child(3) {
  text-align: right;
  font-weight: bold;
}

@media screen and (max-width: 426px) {
  .table-response {
    overflow-x: auto;
  }
  tbody td:nth-child(3) {
    text-align: center;
  }
  tfoot td {
    text-align: center;
  }

  table,
  thead,
  tbody,
  tfoot,
  th,
  td,
  tr {
    display: block;
    width: 100%;
  }
}
